.launcher_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100%;
    background: linear-gradient(-90deg, #F8E9EB 0%, #fff5f6 20%, #FFFFFF 100%);
}

.info_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 10vw;
}

.title {
    font-weight: 700;
    font-size: min(5vw, 4vh);
    color: #FFC5CE;
    margin-bottom: 1.5vw;
}

.none {
    display: none;
}


@media screen and (min-width: 1001px) {
    .info_wrapper {
        width: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .info_wrapper {
        width: 80%;
    }
}