* {
    margin: 0;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Arial,sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: min(4.5vh, 5vw);
    color: white;
}

p {
    font-size: min(2vh, 4vw);
    line-height: 1.5;
}

a {
    font-weight: 700;
    color: #1E6EFA;
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background: #00143C;
}

.content {
    position: fixed;
    top: 10vh;
    bottom: 15vh;
    overflow: scroll;
}

.button_container {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 15vh;
    justify-content: center;
    align-items: center;
    background: #00143C;
}

.none {
    display: none;
}

/*Stying for the launcher button and container*/
.atomic-sdk-launcher-wrapper {
    bottom: 20vh !important;
    right: 4vh !important;
}

iframe.atomic-sdk-frame.launcher {
    top: 8vh !important;
    height: 75vh !important;
}