.card_container_wrapper {
    position: relative;
    display:flex;
    align-items: center;
    z-index: 1;
    width: 300px;
    padding: 0 10vw;
}

.single_wrapper {
    display: flex;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(90deg, #E9F0FE 0%, rgb(239, 243, 252) 20%, #FFFFFF 100%);
}

.info_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10vw 0 0;
}

.title {
    font-weight: 700;
    font-size: min(5vw, 4vh);
    color: #1E6EFA;
    margin-bottom: 2vw;
}

.none {
    /*If display: none, then closing the launcher sets the card width to 0*/
    width: 0;
    height: 0;
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
    .card_container_wrapper{
        padding: 5vh 5vh 0 5vh;
    }

    .info_wrapper {
        padding: 10vw;
    }

    .single_wrapper {
        flex-direction: column;
        align-items: center;
    }
}